:root {
  --primary-color: rgb(0, 27, 6);
  --secondary-color: rgb(31, 116, 49);
  --tertiary-color: rgb(118, 170, 129);
}

body {
  background: var(--primary-color);
}

.search-container {
  margin: 5em auto;
  width: fit-content;
  color: var(--tertiary-color);
}
.search-container > input {
  background: var(--tertiary-color);
  color: var(--primary-color);
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  margin: 1.5em auto;
  width: 30%;
  text-align: center;
  min-height: 15em;
}
.post > h2 {
  text-decoration: underline;
}
