:root {
  --primary-color: rgb(0, 27, 6);
  --secondary-color: rgb(21, 68, 31);
  --tertiary-color: rgb(103, 231, 131);
}

body {
  background: var(--primary-color);
}
button {
  cursor: pointer;
  color: var(--tertiary-color);
  background: var(--primary-color);
  border-color: var(--tertiary-color);
}

.edit-a-post-btn {
  margin: 2em auto 0;
  width: fit-content;
}
.form-container {
  width: 60%;
  height: 62vh;
  margin: 5em auto;
  background: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.form-container > h1 {
  color: var(--tertiary-color);
}
.form-container > form {
  width: 90%;
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
}
.body-input-container {
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-container > form > div > input,
.body-input-container > textarea {
  background: var(--primary-color);
  color: var(--tertiary-color);
  font-family: Helvetica;
  width: 90%;
}
.form-container > form > button {
  width: 33%;
  margin: auto;
}
.form-btn-container {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}
.form-container > p {
  text-align: center;
  color: var(--tertiary-color);
}

.search-container {
  margin: 3em auto 3em;
  width: fit-content;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  height: 1.25em;
  padding: 0.5em;
  border: 1px solid var(--tertiary-color);
}
.search-container > input {
  color: var(--tertiary-color);
  background: var(--primary-color);
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  margin: 1.5em auto;
  width: 30%;
  text-align: center;
  min-height: 15em;
}
.post > h2 {
  text-decoration: underline;
}
.post > button {
  width: fit-content;
  margin: 1em auto;
}
