:root {
  --primary-color: rgb(0, 27, 6);
  --secondary-color: rgb(21, 68, 31);
  --tertiary-color: rgb(103, 231, 131);
}

body {
  background: var(--primary-color);
}
button {
  cursor: pointer;
  color: var(--tertiary-color);
  background: var(--primary-color);
  border-color: var(--tertiary-color);
}

.edit-a-post-btn {
  margin: 2em auto 0;
  width: fit-content;
}

.search-container {
  margin: 3em auto 3em;
  width: fit-content;
  color: var(--tertiary-color);
  background: var(--secondary-color);
  height: 1.25em;
  padding: 0.5em;
  border: 1px solid var(--tertiary-color);
}
.search-container > input {
  color: var(--tertiary-color);
  background: var(--primary-color);
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  margin: 1.5em auto;
  width: 30%;
  text-align: center;
  min-height: 15em;
}
.post > h2 {
  text-decoration: underline;
}
.post > button {
  width: fit-content;
  margin: 1em auto;
}
